html, body {
    margin: 0;
    padding: 0;
}

.results-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    box-sizing: border-box;
}

.results-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.result-item {
    width: 100%;
    max-width: 800px;
}

.result-item h2 {
    font-size: 24px;
    color: #333;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -40px;
    margin-top: 20px;
    margin-bottom: -50px;
}

.result-item h3 {
    font-size: 20px;
    color: #555;
}

.result-item p {
    font-size: 16px;
    color: #666;
}

.result-details {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.category {
    margin-right: 20px;
    font-size: 24px;
    color: #333;
}

.score {
    font-size: 24px;
    color: #333;
}

.separator {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin: 20px 0;
}
.action-button {
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center;  /* Center horizontally */
    background-color: green;
    color: white;
    border: none;
    width: 15vw;
    height: 30vh;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 70%;
}


.action-button:hover {
    background-color: darkgreen;
}
.Head{
    display: flex;
    margin-left: 25vw;
}
.home-button {
    background-color: green; /* Consistent with action button */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 30px; /* Padding for consistent size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    position: absolute; /* Positioning to be at the top right */
    top: 20px; /* Space from top */
    right: 20px; /* Space from right */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Add hover effect for better user experience */
.home-button:hover {
    background-color: darkgreen; /* Darker green on hover */
}